<div class="container-movie-card mat-elevation-z8" fxLayout="row">
  <img [src]="getImg()">
  <div class="infoMovie" fxFlex="">
    <div fxLayout="column">
      <circle-progress [percent]="movie.vote_average * 10"></circle-progress>
      <a class="title result" [title]="movie.title">{{movie.title}}</a>
      <span>{{movie.release_date}}</span>
      <p class="overview">{{(movie.overview.length>161) ? (movie.overview | slice:0:161)+'...':(movie.overview)}}</p>
      <p class="view_more">
        <a class="result" routerLink="/movie/detail/{{movie.id}}" [title]="movie.title">More information</a>
      </p>
    </div>
  </div>
</div>