<div *ngIf="people" fxLayout="column" fxLayoutAlign="center center">
  <div fxFlex="" fxFlexOffset="1%">
    <mat-card fxLayout="row" class="mat-elevation-z10">
      <div fxFlex="650px">
        <img fxFlexOffset="1%" [src]="getImg()">
        <div fxFlex="" fxFlexOffset="2%">
          <div fxLayout="column">
            <h1 fxFlexOffset="5">{{people.name}}</h1>
            <p>
              <strong>
                Gender
              </strong>
              <br> {{people.gender}}
            </p>
            <p>
              <strong>
                Birthday
              </strong>
              <br> {{people.birthday}}
            </p>
            <p>
              <strong>
                Place of Birth
              </strong>
              <br> {{people.place_of_birth}}
            </p>
            <p>
              <strong>
                Official Site
              </strong>
              <br> {{ people.homepage }}
            </p>
          </div>
        </div>
      </div>
    </mat-card>
  </div>
  <mat-divider fxFlexOffset="1%" style="width: 100%"></mat-divider>
  <div style="width: 100%">
    <mat-tab-group mat-stretch-tabs (selectedTabChange)="onChangeMatTab($event)">
      <mat-tab [label]="TAB_BIOGRAPHY">
        <p style="margin: 1%">{{people.biography}} </p>
      </mat-tab>
      <mat-tab [label]="TAB_MOVIES">
        <ng-template matTabContent>
          <div *ngIf="blMovie; then title2 else without2"></div>
          <ng-template #title2>
            <div fxLayout="column" fxLayoutAlign="space-around center" [@resultState]="state">
              <div fxFlex="">
                <div fxLayout="row">
                  <mat-form-field fxFlex="">
                    <mat-select (selectionChange)="orderBy($event.value)" placeholder="Order by" [(value)]="selected">
                      <mat-option *ngFor="let o of order" [value]="o">
                        {{o}}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
                  <button mat-icon-button fxFlexOffset="0.5%" (click)="sortLs()">
                    <mat-icon>{{iconSort}}</mat-icon>
                  </button>
                </div>
              </div>
              <div fxLayout="row wrap" fxLayoutAlign="space-around center">
                <app-card-movie *ngFor="let movie of people.movies" [movie]="movie">
                </app-card-movie>
              </div>
            </div>
            <!-- lazy load with tabs angular.material.io-->
          </ng-template>
          <ng-template #without2>
            <h2 fxFlex="80%">No Credits Movies</h2>
          </ng-template>
          {{getMovieCredits()}}
        </ng-template>
      </mat-tab>
      <mat-tab [label]="TAB_TVSHOWS">
        <ng-template matTabContent>
          <div *ngIf="blTvShows; then title1 else without1"></div>
          <ng-template #title1>
            <div fxLayout="column" fxLayoutAlign="space-around center">
              <div fxFlex="">
                <div fxLayout="row">
                  <mat-form-field fxFlex="">
                    <mat-select (selectionChange)="orderBy($event.value)" placeholder="Order by" [(value)]="selected">
                      <mat-option *ngFor="let o of order" [value]="o">
                        {{o}}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
                  <button mat-icon-button fxFlexOffset="0.5%" (click)="sortLs()">
                    <mat-icon>{{iconSort}}</mat-icon>
                  </button>
                </div>
              </div>
              <div fxLayout="row wrap" fxLayoutAlign="space-around center">
                <app-card-tv-show *ngFor="let tvShow of people.tvShows" [tvShow]="tvShow">
                </app-card-tv-show>
              </div>
            </div>
          </ng-template>
          <ng-template #without1>
            <h2 fxFlex="80%">No Credits Tv Shows</h2>
          </ng-template>
          {{getTvShowsCredits()}}
        </ng-template>
        <!-- lazy load with tabs angular.material.io -->
      </mat-tab>
    </mat-tab-group>
  </div>
</div>