<mat-toolbar color="primary">
  <mat-icon>theaters</mat-icon>
  <p>EncycloMovies</p> &nbsp;&nbsp;
  <mat-form-field class="iSearch">
    <input matInput type="text" (click)="onKeyUp($event.currentTarget.value)" (keyup)="onKeyUp($event.currentTarget.value)" placeholder="Search for movie or artors or tv series or tv shows"
      value="">
    <mat-icon matSuffix>search</mat-icon>
  </mat-form-field>
</mat-toolbar>
<div [@resultState]="state" class="resultSearch">
  <div [@innerState]="state" fxLayout="row wrap">
    <div *ngFor="let item of list" class="em-search-result">
      <a (click)="openDetails(item)" title="{{getName(item)}}">
        <div [style.background-image]="getImg(item)" alt="">
        </div>
        <span data-aliases="[]">{{getName(item)}}</span>
      </a>
    </div>
  </div>
</div>