<mat-toolbar color="primary">
  <mat-icon>theaters</mat-icon>
  <p><a routerLink="/" >EncycloMovies</a></p> &nbsp;&nbsp;
  <mat-form-field class="iSearch">
    <input matInput type="text" #txtSearch placeholder="Search for movies, actors or Tv Shows" value="">
    <mat-icon matSuffix>search</mat-icon>
  </mat-form-field>
</mat-toolbar>
<div [@resultState]="state" class="resultSearch">
  <div [@innerState]="state" fxLayout="row wrap">
    <h1 *ngIf="blResult && query.length != 0 && !blLengthText">No search Result</h1>
    <h1 *ngIf="blLengthText && query.length <= 2">Enter at least 3 characters to start the search</h1>
    <div *ngFor="let item of list" class="em-search-result">
      <a (click)="openDetails(item)" title="{{getName(item)}}">
        <div [style.background-image]="getImg(item)" alt="">
        </div>
        <span data-aliases="[]">{{getName(item)}}</span>
      </a>
    </div>
  </div>
</div>